@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(66, 65, 65);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: gray;
}